/* imports acumin-pro */
@import url("https://use.typekit.net/zay1sxv.css");

/* imports archivo as acumin-pro back-up */
@import url('https://fonts.googleapis.com/css?family=Archivo:400,400i,500,500i,600,600i,700,700i');

/* imports baskerville italic for information icon */
@font-face {
    font-family: 'Baskerville';
    src: url('assets/fonts/BaskervilleMTStd-BoldIt.otf');
}

/* imports league gothic as acumin-pro-extra-condensed back-up */
@font-face {
    font-family: 'League-Gothic';
    src: url('assets/fonts/leaguegothic-regular-webfont.ttf');
    font-weight: 600; /* actually 400 */
}

body {
    font-family: acumin-pro, 'Archivo', sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    color: #444444 !important;
}

#splash {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
}

#splash .row {
    height: 100vh;
    background-color: #ffffff;
}

#content-container {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#content-container h1 {
    font-size: 60pt;
    color: #444444;
    line-height: 0.8em;
}

#content-container p {
    margin-top: 20px;
    margin-bottom: 20px;
}

#ampersand {
    font-size: 40pt;
}

#splash-line-container {
    width: 200px;
}

.splash-line {
    background-color: #E0685F;
    height: 2px;
    width: 70px;
}

.btn-container {
    display: flex;
    justify-content: center;
}

#btn-adopt, #btn-ss {
    width: 245px;
    display: block;
    margin-bottom: 20px;
    margin-right: 0px;
}

.acumin-cond {
    font-family: acumin-pro-extra-condensed,'League-Gothic';
    font-size: 40pt;
    font-weight: 600;
    letter-spacing: 1px;
    color: #1A5289;
}

.bold {
    font-weight: 600;
}

.info {
    font-family: 'Baskerville';
}

#sidebar {
    background: #F5F9FF;
}

.head {
    padding-top: 25px;
    min-height: 60px;
}

.head p {
    float: left;
    padding-left: 20px;
    padding-top: 12px;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 10pt;
    text-transform: uppercase;
}

#logo {
    float: left;
    width: 80px;
    cursor: pointer;
}

.right {
    float: right;
}

.left {
    float: left;
}

#proj-name-sidebar, .slider-labels, .pin-btn, .axis-label {
    text-transform: uppercase;
    font-size: 10pt !important;
    font-weight: 600 !important;
    letter-spacing: 0.5px;
}

.pin-btn {
    color: #1A5289 !important;
    padding: 12px 24px !important;
    border-radius: 30px !important;
    border: 2px solid #1A5289 !important;
    margin-right: 20px;
}

#btn-info {
    text-transform: none !important;
    padding: 0px 0px !important;
    font-size: 12pt !important;
}

.pin-btn:focus, .material-btn:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.pin-btn-active, .pin-btn:hover {
    background-color: #1A5289 !important;
    color: white !important;
}

#sidebar-header {
    margin-top: 40px;
    margin-bottom: 20px;
}

.pin-link {
    font-size: 12pt;
    font-weight: 400;
    color: #E0685F !important;
    border-bottom: 1px solid rgba(224,104,95,.3);
    cursor: pointer;
}

.pin-link:hover {
    text-decoration: none;
}

.pin-link:focus {
    outline: none;
}

.link-prev {
    margin-right: 20px;
}

.link-disabled {
    opacity: 0.6;
    cursor: default;
}

#pin-modal-header {
    padding: 20px 30px;
    background-color: #F5F9FF;
    border-bottom: 0px;
}

#info-modal-title {
    font-size: 10pt !important;
    font-weight: 600 !important;
    letter-spacing: 0.5px;
    padding-top: 2px;
}

.material-btn {
    border-width: 0px;
    padding: 0px 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.btn-close {
    cursor: pointer;
}

.color444444 {
    color: #444444;
}

#pin-modal-body {
    padding: 40px 60px 60px 60px;
}

#pin-modal-body h4 {
    font-weight: 600;
    font-size: 14pt;
    margin-bottom: 20px;
}

#pin-modal-body p {
    line-height: 1.35em;
    margin-bottom: 0px;
}

#sidebar-content {
    margin: 60px 0px;
}

.content-shift-up {
    margin: 30px 0px 60px 0px !important;
}

#content-filters, #content-success-stories, #content-how-to-read {
    overflow-y: scroll;
    font-size: 12pt;
}

#content-filters p {
    margin-bottom: 5px;
}

.filter-trait {
    margin: 40px 0px;
}

#content-how-to-read p {
    font-size: 12pt;
    margin-bottom: 40px;
}

#content-animal-selected img {
    height: 150px;
    width: 150px;
}

#content-desc {
    overflow-y: scroll;
    font-size: 10pt;
}

/* FILTER LIST */

#filter-dogs, #filter-cats {
    cursor: pointer;
}

#filter-dogs {
    margin-bottom: 10px;
    width: 80px;
}

#filter-dogs p {
    padding-left: 26px;
}

#filter-cats p {
    padding-left: 106px;
}

.radio-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #1A5289;
    margin-top: 2px;
}

.radio-inner {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 3px;
}

.clicked {
    background-color: #1A5289;
}

.noUi-target {
    background: #F5F9FF !important;
    border: 2px solid #1A5289 !important;
    border-radius: 10px !important;
    box-shadow: none !important;
    margin: 20px 30px 10px 10px !important;
}

.noUi-horizontal {
    height: 10px !important;
}

.noUi-connect {
    background: #1A5289 !important;
}

.noUi-handle {
    width: 20px !important;
    height: 20px !important;
    background: #F5F9FF !important;
    border: 2px solid #1A5289 !important;
    border-radius: 50% !important;
    box-shadow: none !important;
    cursor: pointer !important;
}

html:not([dir=rtl]) .noUi-horizontal .noUi-handle {
    right: -10px !important;
    left: auto;
}

.noUi-handle:focus {
    outline: none !important;
}

.noUi-handle:after, .noUi-handle:before {
    display: none !important;
}

.slider-labels {
    padding-left: 10px;
    padding-right: 30px;
}

/* HOW TO READ */

.htr-1 {
    font-size: 8pt;
    fill: #444444;
    font-weight: 600;
}

#text-color-light {
    text-anchor: end;
}

#text-age, #text-duration {
    text-anchor: middle;
}

.legend-text {
    font-size: 10pt;
    font-weight: 400;
}

.size-background-circle {
    fill: none;
    stroke: rgba(68,68,68,0.40);
    stroke-width: 0.5px;
}

.size-legend-circle, .legend-line, .tooltip-line {
    fill: none;
    stroke: #444444;
    stroke-width: 1px;
    stroke-linecap: round;
}

.size-legend-circle-active {
    stroke-width: 2px;
}

.species-legend-circle {
    stroke: #444444;
    stroke-width: 1px;
    fill: none;
}

.bold {
    font-weight: 600;
}

#legend-circle-dog {
    fill: #444444;
}

#rect-color {
    opacity: 0.9;
}

#legend-line-female {
    stroke-dasharray: 8,4;
}

.htr-icon-extraSpecies, #htr-icon-openness, #htr-icon-affection {
    width: 16px;
}

#htr-icon-extraHumans {
    height: 25px;
}

#htr-icon-energy {
    height: 20px;
}

.anchor-end {
    text-anchor: end;
}

/* HTR - MOBILE */
#htr-mobile {
    position: absolute;
    background-color: #F5F9FF;
    padding: 20px 20px;
    font-size: 8pt;
}

/* CHART */

#background {
    fill: white;
}

#no-match {
    text-anchor: middle;
    font-size: 12pt;
    font-weight: 600;
    opacity: 0.4;
}

.hidden {
    display: none;
}

.axis-label {
    text-anchor: middle;
    fill: #444444;
    opacity: 0.4;
}

.domain {
    stroke: #F7F7F7;
    stroke-width: 2px;
}

.tick line {
    display: none;
}

.tick text {
    font-size: 8pt;
    fill: #444444;
    opacity: 0.4;
}

/* PORTRAITS */
.portrait {
    cursor: pointer;
}

.dog {
    fill: #444444 !important;
}

.cat {
    fill: none;
    stroke: #444444;
    stroke-width: 1px;
}

.outer-circle {
    fill: none;
    stroke: #444444;
    stroke-width: 0.5px;
    display: none;
}

.gender {
    stroke: #444444;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

.female {
    stroke-dasharray: 8,4 !important;
}

/* TOOLTIP */
#tooltip, #tooltip-arrow, #tooltip-icons, #tooltip-icons .icon-container, #div-test {
    position: absolute;
}

#tooltip {
    padding: 20px 20px;
    background-color: #F7F7F7;
    width: 225px;
}

#tooltip h2 {
    font-size: 15pt;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-weight: 600;
    margin-bottom: 14px;
}

.width-12 {
    width: 12px;
}

.width-8 {
    width: 8px;
}

#div-test {
    background-color: blue;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: -5px;
    left: -5px;
}

#icon-extraHumans {
    margin-left: 4px;
    margin-right: 2px;
}

.icon-desc img {
    float: left;
    margin-left: 2px;
    padding-top: 2px;
}

.tooltip-p {
    font-size: 8pt;
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    margin-bottom: 8px;
    width: 85px;
}

#tooltip-extraSpecies, #tooltip-extraHumans {
    line-height: 1.3em;
}

#icon-extraSpecies, #icon-extraHumans {
    padding-top: 8px;
}

.scale {
    float: right;
    height: 15px;
    width: 86px;
    /* background-color: #444444; */
    /* border-top: 1px solid #444444;
    border-bottom: 1px solid #444444; */
}

.double {
    margin-top:5.5px;
    /* height: 26px; */
}

.scale-line {
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background-color: #444444;
    margin-top:7.5px;
}

.scale-indicator {
    width: 1px;
    height: 8px;
    border-radius: 1px;
    background-color: #444444;
    margin-top: -4px;
}

.demo-desc p {
    padding-top: 1px;
    padding-left: 4px;
}

.tooltip-svg {
    width: 20px;
    height: 18px;
    float: left;
}

.spacer {
    width: 100%;
    height: 20px;
}

#tooltip circle {
    fill: none;
    stroke-width: 0.5px;
    stroke: #444444;
}

#tooltip-desc-species circle {
    stroke-width: 1px !important;
}

#tooltip line {
    stroke-width: 1px;
    stroke: #444444;
    stroke-linecap: round;
}

.tooltip-size-active {
    stroke-width: 1.5px !important;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #F7F7F7;
}
  
.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #F7F7F7;
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #F7F7F7;
}

.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #F7F7F7; 
}

/**********/
/* MOBILE */
/**********/

@media (max-width: 575.98px) {
    #sidebar {
        position: absolute;
        z-index: 8;
    }

    #sidebar-toggle {
        background-color: #F5F9FF;
        position: absolute;
        top: 25px;
        height: 47px;
        width: 47px;
        cursor: pointer;
    }

    #sidebar-toggle i {
        padding: 11.5px 11.5px;

    }

    .animate {
        animation-name: color;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    @keyframes color {
        0% {
          color: #444444;
        }
        50% {
          color: #E0685F;
        }
        100% {
          color: #444444;
        }
    }

    #sidebar-tooltip {
        position: absolute;
        background-color: #444444;
        top: 14px;
        left: 90px;
        padding: 15px 15px;
    }

    #sidebar-tooltip p {
        color: white;
        font-size: 10pt;
        margin-bottom: 0px;
    }

    #sidebar-header {
        font-size: 26pt;
        margin-bottom: 10px;
    }

    .pin-link, #content-filters, #content-success-stories, #no-match {
        font-size: 10pt;
    }

    .radio-btn {
        margin-top: 0px;
    }

    .modal-dialog {
        margin: 2rem !important;
    }

    /* .modal-dialog-centered { */
    #modal {
        min-height: calc(100% - (2rem * 2));
    }

    /* .modal-dialog-centered::before { */
    #modal::before {
        height: calc(100vh - (2rem * 2));
    }

    #pin-modal-body {
        padding: 40px 40px 60px 40px;
    }

    #pin-modal-body h4 {
        font-size: 12pt;
    }

    #pin-modal-body p {
        font-size: 10pt;
    }

    .legend-text {
        font-size: 8pt;
    }

    #tooltip h2 {
        font-size: 10pt;
    }

    .spacer {
        height: 10px;
    }

    #demo-desc-species, #demo-desc-size {
        float: left;
    }

    .demo-desc p {
        width: 70px;
    }

    #tooltip-color {
        width: 60px; /* to guarantee 2 lines*/
    }
}